<h1>Register Page</h1>
<form action="/passport/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" >submit</button>
</form>